<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns="https://jakarta.ee/xml/ns/jakartaee" 
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
    id="WebApp_ID" 
    version="6.0">
    
  <display-name>CarManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>View/index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>addUser</servlet-name>
  	<jsp-file>/controller/AddCustomer.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addUser</servlet-name>
  	<url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>addAdmin</servlet-name>
  	<jsp-file>/controller/AddAdmin.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addAdmin</servlet-name>
  	<url-pattern>/addAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>addVehicle</servlet-name>
  	<jsp-file>/controller/AddVehicle.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>addVehicle</servlet-name>
  	<url-pattern>/addVehicle</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>viewVehicle</servlet-name>
  	<jsp-file>/controller/ViewVehicle.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>viewVehicle</servlet-name>
  	<url-pattern>/viewVehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>deleteVehicle</servlet-name>
  	<jsp-file>/controller/DeleteVehicle.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>deleteVehicle</servlet-name>
  	<url-pattern>/deleteVehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>editVehicle</servlet-name>
  	<jsp-file>/controller/editVehicle.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>editVehicle</servlet-name>
  	<url-pattern>/editVehicle</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>getBookedDates</servlet-name>
  	<jsp-file>/controller/getBookedDates.jsp</jsp-file>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>getBookedDates</servlet-name>
  	<url-pattern>/getBookedDates</url-pattern>
  </servlet-mapping>
  
</web-app>